body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #333333;
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.jumbo-item {
  max-width: 1100px;
  margin: auto;
  width: 100%;
  display: flex;
}
@media (max-width: 1000px) {
  .jumbo-item {
    flex-direction: column;
  }
}
.row {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.row-reverse {
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.jumbo-Pane {
  width: 50%;
}
@media (max-width: 1000px) {
  .jumbo-Pane {
    width: 100%;
    padding: 0 45px;
    text-align: center;
  }
}
.jumbo-title {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .jumbo-title {
    font-size: 35px;
  }
}
.jumbo-subTitle {
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
}
@media (max-width: 600px) {
  .jumbo-subTitle {
    font-size: 18px;
  }
}
.jumbo-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1000px) {
  .jumbo-item {
    margin-bottom: 50px;
    flex-direction: column;
  }
}
.jumbo-Cointainer {
  display: flex;
  border-bottom: 8px solid #222;
  padding: 50px 5%;
  color: white;
  overflow: hidden;
}
.footer-main {
  display: flex;
  padding: 70px 0;
  margin: auto;
  max-width: 1000px;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer-main {
    padding: 70px 30px;
  }
}
.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 40px;
}
@media (max-width: 1000px) {
  .footer-row {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 50px;
  }
}
.footer-coloumn {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-link {
  color: #757575;
  margin-bottom: 20px;
  font-size: 14px;
  text-decoration: none;
}
.footer-title {
  font-size: 16px;
  color: #757575;
  margin-bottom: 40px;
}
.footer-text {
  font-size: 16px;
  color: #757575;
  margin-bottom: 40px;
  margin-top: 40px;
  display: block;
}
.footer-break {
  flex-basis: 100%;
  height: 0;
}
.accordian-container {
  display: flex;
  border-bottom: 8px solid #222;
}
.accordian-inner {
  display: flex;
  padding: 70px 45px;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}
.accordian-title {
  font-size: 50px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 8px;
  color: white;
  text-align: center;
}
@media (max-width: 600px) {
  .accordian-title {
    font-size: 35px;
  }
}
.accordian-item {
  color: white;
  margin: auto;
  margin-bottom: 10px;
  max-width: 800px;
  width: 100%;
}
.accordian-item:first-of-type {
  margin-top: 3em;
}
.accordian-item:last-of-type {
  margin-bottom: 0;
}
.accordian-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1px;
  font-size: 26px;
  font-weight: normal;
  background: #303030;
  padding: 0.8em 1.2em 0.8em 1.2em;
  user-select: none;
  align-items: center;
}
@media (max-width: 600px) {
  .accordian-header {
    font-size: 16px;
  }
}
.accordian-header img {
  filter: brightness(0) invert(1);
  width: 24px;
  user-select: none;
}
@media (max-width: 600px) {
  .accordian-header img {
    width: 16px;
  }
}
.accordian-body {
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
  background: #303030;
  white-space: pre-wrap;
  user-select: none;
  overflow: hidden;
  /* padding: 10px; */
}
.closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.open {
  max-height: 1200px;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
@media (max-width: 600px) {
  .accordian-body {
    font-size: 16px;
    line-height: 22px;
  }
}
.accordian-body span {
  display: block;
  padding: 0.8em 2.2em 0.8em 1.2em;
}
.opt-form-container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .opt-form-container {
    flex-direction: column;
    align-items: center;
  }
}
.opt-form-Input {
  max-width: 450px;
  width: 100%;
  border: 0;
  padding: 10px;
  height: 70px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 500;
}
.opt-form-Input:focus {
  outline: none;
}
.opt-form-button {
  display: flex;
  align-items: center;
  height: 71px;
  background: #e50914;
  color: white;
  text-transform: uppercase;
  padding: 0 32px;
  font-size: 26px;
  border: 0;
  cursor: pointer;
}
.opt-form-button img {
  margin-left: 10px;
  filter: brightness(0) invert(1);
  width: 24px;

  @media (max-width: 1000px) {
    width: 16px;
  }
}
@media (max-width: 1000px) {
  .opt-form-button img {
    width: 16px;
  }
}
.opt-form-button:hover {
  background: #f40612;
}
@media (max-width: 1000px) {
  .opt-form-button {
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
  }
}
.opt-form-break {
  flex-basis: 100%;
  height: 0;
}
.opt-form-container p {
  font-size: 19.2px;
  color: white;
  text-align: center;
}
.accordian-frame {
  margin-bottom: 40px;
}
.header-background {
  display: flex;
  flex-direction: column;
}
.header-container {
  display: flex;
  margin: 0 56px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .header-container {
    margin: 0 30px;
  }
}
.header-Button {
  display: block;
  background-color: #e50914;
  height: fit-content;
  color: white;
  border: 0;
  font-size: 15px;
  border-radius: 3px;
  padding: 8px 17px;
  cursor: pointer;
  text-decoration: none;
}
.header-Button:hover {
  background: #f40612;
}
.header-Logo {
  height: 36px;
  /* width: 134px; */
  margin-right: 40px;
  display: flex;
}
@media (min-width: 1449px) {
  .header-Logo {
    height: 45px;
    /* width: 167px; */
    display: flex;
  }
}
.feature-container {
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid #222;
  text-align: center;
  padding: 165px 45px;
}
.feature-title {
  color: white;
  max-width: 640px;
  font-size: 50px;
  font-weight: 500;
  margin: auto;
}
@media (max-width: 600px) {
  .feature-title {
    font-size: 35px;
  }
}
.feature-subtitle {
  color: white;
  font-size: 26px;
  font-weight: normal;
  margin: 16px auto;
}
@media (max-width: 600px) {
  .feature-subtitle {
    font-size: 18px;
  }
}
* {
  box-sizing: border-box;
}
.form-container {
  display: flex;
  flex-direction: column;
  min-height: 660px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 100%;
  margin: auto;
  max-width: 450px;
  padding: 60px 68px 40px;
  margin-bottom: 100px;
}
.form-error {
  background: #e87c03;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 0 16px;
  color: white;
  padding: 15px 20px;
}
.form-base {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
}
.form-title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 28px;
}
.form-text {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
}
.form-small-text {
  margin-top: 10px;
  font-size: 13px;
  line-height: normal;
  color: #8c8c8c;
}
.form-input {
  background: #333;
  border-radius: 4px;
  border: 0;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 5px 20px;
  margin-bottom: 20px;
}
.form-input:last-of-type {
  margin-bottom: 30px;
}
.form-submit {
  background: #e50914;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin: 24px 0 12px;
  padding: 16px;
  border: 0;
  color: white;
  cursor: pointer;
}
.form-submit:disabled {
  opacity: 0.5;
}
.form-link {
  color: #fff;
  text-decoration: none;
}
.form-link:hover {
  text-decoration: underline;
}
.profile-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  border: 3px solid black;
  cursor: pointer;
}
.display-Name {
  color: #808080;
  text-overflow: ellipsis;
  font-size: 16px;
}
.display-Name:hover {
  font-weight: bold;
  color: #e5e5e5;
}
.profiles-container h1 {
  width: 100%;
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: 500;
}
.profile-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.profile-item {
  max-height: 200px;
  max-width: 200px;
  list-style-type: none;
  text-align: center;
}
.profile-item:last-of-type {
  margin-right: 0;
}
.profile-picture {
  width: 100%;
  max-width: 150px;
  height: auto;
  border: 3px solid black;
  cursor: pointer;
}
.profile-Name {
  color: #808080;
  text-overflow: ellipsis;
  font-size: 16px;
}
.profiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 80%;
  justify-content: center;
}
.profile-item:hover > .profile-picture {
  border: 3px solid white;
}

.profile-item:hover > .profile-Name {
  font-weight: bold;
  color: white;
}

.profile-item:last-of-type {
  margin-right: 0;
}
.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
}
.spinner:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("./spinner.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -150px;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.picture {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -22px;
}
.header-category {
  display: inline-block;
}
.header-category {
  color: white;
  display: inline-block;
  font-weight: 520;
  margin-top: 12px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.header-category:hover {
  font-weight: 700;
}
.categoryactive {
  font-weight: 700;
}
.header-picture {
  /* background-size: contain; */
  /* border: 0; */
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 3px;
}
.header-search {
  display: flex;
  align-items: center;
}
.header-search button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  height: 32px;
  width: 32px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-search button img {
  filter: brightness(0) invert(1);
  width: 16px;
}
.header-search-input1 {
  background-color: rgba(64, 64, 64, 0.5);
  color: white;
  border: 1px solid white;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  height: 30px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 0;
  padding: 0;
  opacity: 0;
  width: 0px;
}
.header-search-input2 {
  background-color: rgba(64, 64, 64, 0.5);
  color: white;
  border: 1px solid white;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  height: 30px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  padding: 0 10px;
  opacity: 1;
  margin-right: 10px;
  width: 200px;
}
.search-container {
  display: flex;
  flex-direction: row;
}
.header-group {
  display: flex;
  align-items: center;
  padding: 5px;
}
.header-group p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
}
.header-group p:hover {
  font-weight: bold;
}
.header-profile {
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
}
.header-group img {
  cursor: pointer;
}
.header-profile:hover > div {
  display: flex;
  flex-direction: column;
}
.header-dropdown {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px;
  width: 180px;
  top: 30px;
  right: 20px;
  color: white;
}
.header-feature {
  align-items: normal;
  width: 50%;
  flex-direction: column;
  padding: 150px 0 500px 0;
}
.header-feature h2 {
  color: white;
  font-size: 50px;
  line-height: normal;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  margin: 0;
}
.header-feature p {
  color: white;
  font-size: 22px;
  line-height: normal;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}
.header-feature button {
  box-shadow: 0 0.6vw 1vw -0.4vw rgb(0 0 0 / 35%);
  background-color: #e6e6e6;
  color: #000;
  border-width: 0;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 130px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.header-feature button:hover {
  background-color: red;
  color: white;
}
.card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.card-container:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  .card-container > .card-title {
    margin-left: 30px;
  }
}
.card-container:last-of-type {
  margin-bottom: 0;
}
.card-title {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: bold;
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 0;
}
.card-entities {
  display: flex;
  flex-direction: row;
}
.card-item {
  display: flex;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}
.card-text {
  margin-top: 5px;
  font-size: 10px;
  color: #fff;
  margin-bottom: 0;
  user-select: none;
  display: none;
  line-height: normal;
}
.card-meta {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #0000008f;
  transition: transform 0.2s;
}
.card-item img {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding: 14px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}
.card-item:hover {
  transform: scale(1.3);
  z-index: 99;
}
.card-item:hover > .card-meta {
  transform: scale(1);
  z-index: 99;
}
@media (min-width: 1200px) {
  .card-item:hover .card-meta,
  .card-item:hover .card-text,
  .card-item:hover .card-subtitle {
    display: block;
    z-index: 100;
  }
}
.card-item:last-of-type {
  margin-right: 56px;
}
.card-item:first-of-type {
  margin-left: 56px;
}
@media (max-width: 1100px) {
  .card-item:last-of-type {
    margin-right: 30px;
  }
  .card-item:first-of-type {
    margin-left: 30px;
  }
}

.card-subtitle {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  user-select: none;
  display: none;
}
.card-group {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .card-group > .card-container:first-of-type {
    margin-top: -100px;
  }
}
.card-feature {
  display: flex;
  flex-direction: row;
  background-size: contain;
  position: relative;
  height: 360px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: black;
}
.card-content {
  margin: 56px;
  max-width: 500px;
  line-height: normal;
}
@media (max-width) {
  .card-content {
    margin: 30px;
    max-width: none;
  }
  .card-feature-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .card-feature-text {
    font-size: 14px;
  }
}
.card-feature-title {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: bold;
  padding-bottom:20px ;
  margin-right: 56px;
  margin-top: 0;
}
.card-feature-text {
  font-size: 18px;
  color: white;
  font-weight: normal;
  margin: 0;
}
.card-feature-close {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.card-feature-close img {
  filter: brightness(0) invert(1);
  width: 24px;
}
.card-feature-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0;
}
.card-maturity {
  background-color: #2f9600;
  border-radius: 15px;
  width: 28px;
  line-height: 28px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  margin-right: 10px;
  font-size: 12px;
}
.player-container button {
  background-color: #e50914;
  border-color: #ff0a16;
  width: 115px;
  height: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 18px;
  height: 45px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
}
.play-button:hover{
  background-color: #fa000c;
  transform: scale(1.1);
}
